<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    
	<link rel="stylesheet" href="./css/login.css">
	
</head>
<body>
	
	<div class="container-formulario container">

        <div class="logo">          
            <img src="img/logo1.png" width="300px" height="250px" />
            <h2 class="lblIniciaSesion">Inicia tu sesion</h2>
        </div>

        <div class="containerRight">
            <main>
                <form class="form" th:action="@{/login}" method="post">
                    <h2 class="lblLogin">Login</h2>
                    
                    <div class="inputs">
                        <input id="username"  name="username" type="text" class="box"
							required autofocus="autofocus" placeholder="Ingresa tu correo">
							
                        <input
							id="password" type="password"  name="password" class="box" required
							autofocus="autofocus" placeholder="Ingresa tu contraseña">
							
                        <input type="submit" class="submit" name="login-submit" id="login-submit"
									value="Iniciar sesión" />
                        <a th:href="@{/restablecer-contrasena}">¿Olvidaste tu contraseña?</a>
                        <br>
                        <a th:href="@{/registro}">¿No tienes cuenta?. Regístrate</a>  
                    </div>
                </form>
            </main>
        </div>
    
    </div>
	
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	
	

</body>
</html>