<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de empleados</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/menu.css">
	<link rel="stylesheet" href="./css/tablas.css">
	
	
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
</head>

<body>
	
	<header th:replace="index::header"></header>
	
	<main >
		<div class="container">
			<div class="agregar">
				<a class="btn btn-warning btn-sm" th:href="@{/producto}"><i class='bx bx-arrow-back btn-warning' ></i></a>
				<h1 th:text="${titulo}"></h1>
				<a th:href="@{/marca/registrar}" title="Crear nuevo registro">
		        <i class='bx bxs-plus-circle active'></i>
		      	</a>
	      	</div>
      <hr>
		
		<table class="table table-striped table-bordered table-dark">
			<thead class="table-dark">
				<tr>
					<th>CODIGO</th>
					<th>NOMBRE</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody class="table table-striped table-bordered table-dark text-center">
				<tr th:each="marca : ${marcas}">
					<td><a class="btn btn-success"
						th:href="@{/marca}+@{detalle/}+${marca.COD_MARCA}"  
						th:text="${marca.COD_MARCA}">CODIGO</td>
					<td th:text="${marca.NOMBRE}">NOMBRE</td>
					
					
					<td class="acciones">
						
                  		<a class="btn btn-success btn-sm" th:href="@{/marca/editar/}+${marca.COD_MARCA}">
                    		<i class='bx bxs-pencil'></i>
                  		</a>
                  		<a class="btn btn-danger btn-sm" th:href="@{/marca/eliminar/}+${marca.COD_MARCA}" 
                  		onclick="return confirm('Está seguro de querer eliminar el registro')">
                    		<i class='bx bxs-trash'></i>
                  		</a>
                	</td>
                	
             		
			</tbody>
		</table>
	</div>
	
	
	
	<script src="./js/menu.js"></script>
</body>
</html>