<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Listado de empleados</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/frm.css}">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
</head>

<body>
	<header th:replace="menu::header"></header>
	
	<main>
		
		<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-contetnt-center card">
				<div class="titulos">
					<a class="btn btn-warning btn-sm" th:href="@{/producto}"><i class='bx bx-arrow-back btn-warning' ></i></a>
					<h1 class="text-center" th:text="${titulo}"></h1>
				</div>
				
				<div class="card-body">
					
					<form th:Action="@{/producto/guardar}" th:object="${producto}" method="POST">
						<div class="form-row">
							<div class="form-group col-md-6">
				            	<label for="clasificacion">Clasificacion :</label>
				             		<select th:field="*{COD_CLASIFICACION}" class="form-control form-control" id="clasificacion">
					                	<option th:each="clasificacion: ${clasificaciones}" th:value="${clasificacion.COD_CLASIFICACION}" th:text="${clasificacion.NOMBRE}"></option>
				              	</select>
				         	</div>
			         	
							<div class="form-group col-md-6">
				            	<label for="marca">Marca :</label>
				             		<select th:field="*{COD_MARCA}" class="form-control form-control" id="marca">
					                	<option th:each="marca: ${marcas}" th:value="${marca.COD_MARCA}" th:text="${marca.NOMBRE}"></option>
				              	</select>
				         	</div>
						</div>
						
						<div class="form-group">
							<label>Descripcion : </label>
							<input type="text" name="DESCRIPCION" th:field="*{DESCRIPCION}" class="form-control" placeholder="Ingrese la descripcion" required>
						</div>
						
						<div class="form-row">
							<div class="form-group col-sm">	
								<label>Stock : </label>
								<input type="text" name="STOCK" th:field="*{STOCK}" class="form-control" placeholder="Ingrese el stock" required>
							</div>	
							
							<div class="form-group col-sm">	
								<label>Precio Venta : </label>
								<input type="text" name="PRECIO_VENTA" th:field="*{PRECIO_VENTA}" class="form-control" placeholder="Ingrese el P.V" required>
							</div>
				         	
				         	<div class="form-group col-sm">
								<label>Precio Compra : </label>
								<input type="text" name="PRECIO_COMPRA" th:field="*{PRECIO_COMPRA}" class="form-control" placeholder="Ingrese el P.C" required>
							</div>	
						</div>
						
						<input type="hidden" th:field="*{ESTADO}" value="ACTIVO">
						
			         	
			         	<div class="botones">				
							<button class="btn btn-success">Guardar</button>
								
							<button class="btn btn-danger" th:href="@{/producto}" onclick="return confirm('Está seguro de querer cancelar el registro')">Cancelar</button>					
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
		
	</main>

	<script th:src="@{/js/menu.js}"></script>
</body>
</html>